.portfolioBg {
  background-color: #c6b29f;
  width: 100%;      
  display: flex; 
  padding-block:16px; 
  border-top: 3px solid #fff;       
}
.header{
    margin: 0;
    margin-left: 3em;    
    font-size: clamp(28px, 6vw, 64px);
    line-height: 1.1;
    font-family: "Imperial Script", cursive;
    color: #fff;
}
.portfolioContent{
    background: #ede0d1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text{
    padding: 5%;
    font-size: 2.2rem;
    max-width: 600px;
    line-height: 1.5;
    text-align: center;
    color: #574738;
    margin: 0;
}
.photo{
    padding-block: 5%;
}