
.offerBg {
  background-color: #c6b29f;
  width: 100%;      
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding-block:16px;        
}
.inner {
  width: 100%;
  text-align: center;
}

.header {
  margin: 0;        
  font-size: clamp(28px, 6vw, 64px);
  line-height: 1.1;
  font-family: "Imperial Script", cursive;
  color: #fff;
}
.offerText{
  background: #ede0d1;
}
.offerList{
  padding-block: 5%;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15%;
}
li{
  list-style: none;
}
.oList{
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 50px;
  height: 50px;
  fill: #8d7f72;
  padding: 20px;
}
.offerBtn{
  background-color:#ede0d1;
  border-radius: 10px;
  padding: 5px 7px;
  border-color: #807265;
  font-size: 1rem;
  color: #574738;
  cursor: pointer;
}
.liText{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #574738;
}