body{
    background-color: #fff;
    align-items: center;
    margin: 0;
}
.title {
  font-size: clamp(28px, 6vw, 64px);
  line-height: 1.1;
  font-family: "Imperial Script", cursive;
  font-weight: 700;
  color: #574738;
  display: flex;
  justify-content: center;
  margin: 0;
}
.right{
    margin-right: 1em;
}
.left{
    margin-left: 1em;
}
.icons{
    display: flex;
    position: absolute; 
    top: 2em;
    right: 3em;
    gap: 3em; 
    align-items: center; 
}

.icon {
  width: 50px;
  height: 50px;
  fill: #c6b29f;
  transition: color .2s ease, fill .2s ease;
}

.iconLink, .iconBtn {
  color: #fff;
  background: transparent;
  border: 0;
  padding: 6px;
  border-radius: 10px;
}

.iconLink:hover, .iconBtn:hover {
  cursor: pointer;
}
