.header {
  margin: 0;        
  font-size: clamp(28px, 6vw, 64px);
  line-height: 1.1;
  font-family: "Imperial Script", cursive;
  color: #fff;
  padding-block:16px;
}
.inner {
  width: 100%;
  text-align: center;
}
.priceBg{
    background-color: #c6b29f;
}
.pText{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  max-width: 800px;
  padding-block: 1em;
}
.qText{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    border: solid #fff;
    border-radius: 50%;
    max-height: 50px;
    padding: 6rem 2rem;
    margin-top: 5%;
    font-style: italic;
}
.pricePanel{
    display: flex;
    gap: 10%;
    justify-content: center;
    padding-inline: 3%;

}