.header {
  margin: 0;        
  font-size: clamp(28px, 6vw, 64px);
  line-height: 1.1;
  font-family: "Imperial Script", cursive;
  color: #fff;
  padding-block:16px;
}
.inner {
  width: 100%;
  text-align: center;
}
.priceBg{
    background-color: #c6b29f;
}
.pText{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  max-width: 600px;
  padding-block: 1em;
}
.qText{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    background: url("/photos/bgWhy.png") center/cover no-repeat;
    color: #fff;
    padding: 11rem 2rem;
    margin-top: 3%;
    font-style: italic;
}
.pricePanel{
    display: flex;
    justify-content: space-around;
    align-items: center;

}